.SignupForm {
  position: relative;
  padding: 1.5rem 2rem;
  background-color: #e6e1e1;
  border-radius: 2rem;
  color: black;
}

.SignupForm h3 {
  font-family: "ProximaNova-Black";
  font-size: 2.3em;
  margin-bottom: 1.5rem;
  color: #df2b49;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.SignupForm .closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  opacity: 0.5;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #df2b49) saturate(200%) brightness(0.6);
          filter: opacity(0.5) drop-shadow(0 0 0 #df2b49) saturate(200%) brightness(0.6);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.SignupForm .closeBtn:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.SignupForm .inputFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.SignupForm .inputFields .textInput {
  color: black;
  font-size: 1.2em;
  font-family: "ProximaNova";
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: #ccafb8;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.SignupForm .inputFields .textInput.error {
  outline: solid 2px red;
}

.SignupForm .inputFields .textInput:focus, .SignupForm .inputFields .textInput:hover {
  background-color: #e96b80;
}

.SignupForm .inputFields .textInput:-webkit-autofill, .SignupForm .inputFields .textInput:-webkit-autofill:hover, .SignupForm .inputFields .textInput:-webkit-autofill:focus, .SignupForm .inputFields .textInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #df2b49 inset !important;
  box-shadow: 0 0 0 30px #ccafb8 inset !important;
  -webkit-text-fill-color: black !important;
}

.SignupForm .inputFields label {
  font-size: 1.25em;
}

.SignupForm .selectWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SignupForm .selectWrapper h2 {
  font-size: 1.25em;
  margin-bottom: 0.75rem;
}

.SignupForm .selectWrapper label {
  margin-left: 0.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.SignupForm .selectWrapper input,
.SignupForm .selectWrapper label {
  cursor: pointer;
}

.SignupForm .selectWrapper .genderWrapper,
.SignupForm .selectWrapper .interestsWrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.SignupForm .selectWrapper .genderWrapper div,
.SignupForm .selectWrapper .interestsWrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SignupForm .selectWrapper .genderWrapper input,
.SignupForm .selectWrapper .interestsWrapper input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #df2b49;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}

.SignupForm .selectWrapper .genderWrapper input::after,
.SignupForm .selectWrapper .interestsWrapper input::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.SignupForm .selectWrapper .genderWrapper input {
  border-radius: 50%;
}

.SignupForm .selectWrapper .genderWrapper input::after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
}

.SignupForm .selectWrapper .genderWrapper input:checked::after {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.SignupForm .selectWrapper .interestsWrapper input::after {
  content: url("/icons/check.svg");
}

.SignupForm .selectWrapper .interestsWrapper input:checked::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.SignupForm .signupBtn {
  font-family: "ProximaNova";
  color: #fff;
  font-size: 1.5em;
  border-radius: 0.5rem;
  height: 3rem;
  background-color: #df2b49;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin-top: 2rem;
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.SignupForm .signupBtn.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SignupForm .signupBtn:hover {
  background-color: #e96b80;
}

@media screen and (min-width: 900px) {
  .SignupForm {
    padding: 3rem 4rem;
  }
}

.forgotPassword {
  cursor: pointer;
  color: rgba(212, 26, 26, 0.6);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.forgotPassword:hover {
  color: #df2b49;
}
/*# sourceMappingURL=LoginForm.module.css.map */