@import "../SignupForm/SignupForm.module.scss";

.forgotPassword {
  cursor: pointer;
  color: rgba(212, 26, 26, 0.6);
  transition: color 0.3s;
  width: max-content;
  &:hover {
    color: $red-accent;
  }
}
