$hoverColor: #f74f4f;

.HeaderListItem {
  color: #fff;
  transition: color 0.3s;
  position: relative;
  user-select: none;

  cursor: pointer;
  padding: 0.75rem;
  color: #fff;
  font-size: 1.25em;
  margin-left: 0.5rem;

  &:hover {
    color: $hoverColor;
    &::after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $hoverColor;
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
  }
}
