.HamburgerIcon {
  position: relative;
  width: 3rem;
  height: 2rem;
  span {
    position: absolute;
    transition: transform 0.3s, opacity 0.15s;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: #ffffff;
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }

  .line2,
  .line3 {
    top: 50%;
  }
  .line4 {
    top: 100%;
  }

  &.isChecked {
    .line2 {
      transform: rotate(45deg);
    }
    .line3 {
      transform: rotate(-45deg);
    }
    .line1,
    .line4 {
      opacity: 0;
    }
  }
}
