.chat{
    display: flex;
    flex-direction: row;
}

.chatLayout{
    height: 100%;
    min-height: 100vh;
    min-width: 300px;
    z-index: 10;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.chatWindow{
    position: absolute;
    transform: translateX(300px);
    transition: transform 0.3s linear;
    width: 500px;
    height: 100%;
    z-index: 5;
    background-color: #fff;
}

.none{
    transform: translateX(-600px);
    transition: transform 0.3s linear;
    z-index: 5;
}

.chatWrapper{
    z-index: 6;
}

.toggleOn{
    z-index: 7;
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 900px) {
    .chatLayout{
           min-width: 120px;
    }
    .chatWindow{
        transform: translateX(120px);
        transition: transform 0.3s linear;
        z-index: 9;
        width: calc(100% - 120px);
    }

}
