@import "./../../../styles/variables.scss";

.header {
  position: sticky;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  .topNav {
    height: 100%;
    display: flex;
    align-items: center;
    ul {
      height: 100%;
      display: none;
    }
  }

  .logo {
    z-index: 1;
    cursor: pointer;
    position: relative;
    height: 35px;
    width: 140px;

    // should probably make a white logo instead of using filter
    filter: brightness(300);
  }

  .navRight {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .languageSelect {
    display: none;
    color: #fff;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    gap: 0.5rem;
  }

  .loginBtn {
    display: none;
    padding: 0.5rem 1rem;
    background-color: #666;
    border-radius: 999px;
    font-size: 1em;
    color: #fff;
  }

  .hamburgerIcon {
    user-select: none;
    z-index: 1;
    display: inline;
  }

  @media screen and (min-width: $landing-breakpoint-1) {
    padding-inline: 5%;
    .topNav ul li {
      padding: 1rem;
      font-size: 1.5rem;
      margin-left: 1rem;
    }
    .languageSelect .loginBtn {
      font-size: 1.25em;
    }
    .logo {
      height: 50px;
      width: 200px;
    }
  }

  @media screen and (min-width: $landing-breakpoint-2) {
    .topNav ul {
      display: flex;
    }
    .hamburgerIcon {
      display: none;
    }
    .languageSelect {
      display: flex;
    }
    .loginBtn {
      display: inline;
    }
  }
}
